@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

body {
  font-family: "Open Sans", sans-serif;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.dropdown-menu{
  margin-left: -220px!important;
  
}
.dropdown-menu li{
  width: 300px;
}
.user_profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffffff6d;
  padding: 4px;
  cursor: pointer;
}
.singList li{
  font-size: .8rem!important;
}


.logo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ffffff6e;
  padding:3px;
}